<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="utf-8" />
    <title>Oops...</title>
    <style>
        body{
            text-align: center;
            background-color: gainsboro;
        }
        #hints{
            width: 50%;
            text-align: left;
            margin: auto;
        }
        img{
            margin-top: 30px;
            margin-bottom: 30px;
        }
    </style>
</head>
<body>
    <h1>Oops... Looks like something went wrong...</h1>
    <h2>There are no responses for question {{qid}}:</h2>
    <p>{{qtext}}</p>
    <img src="{% static 'sloth.jpg' %}"/>
    <div id="hints">
    <p>Here are some things you can try:</p>
    <ul>
        <li>Make sure that {{qid}} is a short answer question for which you open-coded responses.</li>
        <li>Make sure you have uploaded the latest version of your data and rerun the population scripts.</li>
        <li>If {{qid}} was added by mistake, remove it from 'questions.txt' to resolve this error.</li>
    </ul>
</div>
</body>
</html>
